<div class="header">
    <div class="left-section">
        @if (!onLandingPage()) {
            <app-button class="back-button" [variant]="'secondary'" [size]="'small'" [iconBefore]="arrowLeft" (click)="navigateToLandingPage()"></app-button>
        }
        <lucide-icon class="header-icon" [img]="layoutGrid" [size]="20"></lucide-icon>
        <div class="header-info">
            <h4 class="header-title">Operations Dashboard</h4>
            @if (showDashboardSpecificContent()) {
                <div class="header-subtitle">{{ numCards }} active panels - Real-time analytics</div>
            }
        </div>
    </div>
    <div class="right-section">
        <button class="theme-toggle-button" (click)="themeService.toggleTheme()">
            @if (theme() === 'light') {
                <lucide-icon class="theme-toggle-icon" [img]="sun" [size]="20"></lucide-icon>
            } @else {
                <lucide-icon class="theme-toggle-icon" [img]="moon" [size]="20"></lucide-icon>
            }
        </button>
        @if (showDashboardSpecificContent()) {
        <button class="add-panel-button" (click)="dashboardService.addCard()">
                <lucide-icon [img]="plus" [size]="20"></lucide-icon>
                Add Panel
            </button>
        }
    </div>
</div>