<div class="landing-page-layout">
    <app-header [onLandingPage]="true"></app-header>
    <div class="landing-page-layout-content">
        <div class="landing-page-layout-content-description">
            <h1 class="landing-page-layout-content-description-title">Welcome to Operations Dashboard</h1>
            <p class="landing-page-layout-content-description-subtitle">Your unified analytics platform. Connect your data sources and visualize real-time metrics in customizable panels.</p>
        </div>
        <div class="landing-page-layout-navigation-cards">
            <div class="landing-page-layout-navigation-card" [ngClass]="{'dark-mode': theme() === 'dark'}">
                <lucide-icon class="landing-page-layout-navigation-card-icon" [img]="layoutGrid" [size]="30"></lucide-icon>
                <h3 class="landing-page-layout-navigation-card-title">View Dashboard</h3>
                <p class="landing-page-layout-navigation-card-subtitle">Access your analytics panels and real-time metrics.</p>
                <app-button [iconAfter]="rightArrow" (click)="navigateToDashboard()">Enter Dashboard</app-button>
            </div>
            <div class="landing-page-layout-navigation-card" [ngClass]="{'dark-mode': theme() === 'dark'}">
                <lucide-icon class="landing-page-layout-navigation-card-icon" [img]="layoutGrid" [size]="30"></lucide-icon>
                <h3 class="landing-page-layout-navigation-card-title">Connect Data Sources</h3>
                <p class="landing-page-layout-navigation-card-subtitle">Link your accounts and APIs to unlock insights.</p>
                <app-button [iconAfter]="rightArrow">Manage Sources</app-button>
            </div>
        </div>
    </div>
</div>