<form class="config-form">
    <app-select
        label="Institution"
        [options]="institutionIdOptions()"
        [(value)]="editableInstitutionId">
    </app-select>

    @if (visualizationType() === DashboardVisualizationType.BAR_CHART) {
        <app-select
            label="Bar Chart Metric"
            [options]="barChartMetricOptions"
            [(value)]="editableMetric"
            placeholder="Select a metric">
        </app-select>
    }
    @else if (visualizationType() === DashboardVisualizationType.PIE_CHART) {
        <app-select
            label="Pie Chart Metric"
            [options]="pieChartMetricOptions"
            [(value)]="editableMetric"
            placeholder="Select a metric">
        </app-select>
    }
</form>