:host {
    display: block;
    height: 100%;
    width: 100%;
}

.dashboard-card {
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--color-bg-secondary);
}

.dashboard-card-header {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.config-modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.config-form {
    display: flex;
    flex-direction: column;
    gap: var(--space-5); // 20px gap between form fields
}