<div class="dashboard-card">
    <div class="dashboard-card-header">
        <h3 class="dashboard-card-title">{{ card().title }}</h3>
        <button class="manage-dashboard-card-button" (click)="openConfigModal()">
            <lucide-icon [img]="settings" [size]="20"></lucide-icon>
        </button>
    </div>
    <div class="dashboard-card-content">
        @if (card().visualizationType === DashboardVisualizationType.BAR_CHART) {
            <app-bar-chart [data]="barChartData()!"></app-bar-chart>
        } @else if (card().visualizationType === DashboardVisualizationType.PIE_CHART) {
            <app-pie-chart [data]="pieChartData()!"></app-pie-chart>
        }
    </div>
</div>

<app-modal class="config-modal">
    <div class="config-modal-header" modal-header>
        <h2>Configure Dashboard Card</h2>
    </div>

    <div class="config-modal-body" modal-body>
        <form class="config-form">
            <!-- Card Title Input -->
            <app-input
                label="Card Title"
                type="text"
                placeholder="Enter card title"
                [(value)]="cardTitle"
                [iconBefore]="typeIcon"
                helperText="This will appear at the top of your dashboard card"
                [required]="true"
                [maxLength]="50"
                size="medium">
            </app-input>

            <!-- Data Source Select -->
            <app-select
                label="Data Source"
                [options]="dataSourceOptions"
                [(value)]="dataSourceType"
                placeholder="Select a data source">
            </app-select>

            <!-- Visualization Type Select -->
            <app-select
                label="Visualization Type"
                [options]="visualizationOptions"
                [(value)]="visualizationType"
                placeholder="Select a visualization type">
            </app-select>
        </form>
    </div>

    <div class="config-modal-footer" modal-footer>
        <app-button [variant]="'primary'" (click)="saveConfig()">Save Changes</app-button>
        <app-button [variant]="'secondary'" (click)="modalService.close()">Cancel</app-button>
    </div>
</app-modal>