:host {
    display: block;
    height: 100%;
    width: 100%;
}

.dashboard-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.dashboard-card-header {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}